* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95.7vh;
}

h1 {
    color: black;
    font-size: 3rem;
}

.turn {
    text-align: center;
    margin-bottom: 100px;
}

.board {
    display: grid;
    padding: 2px;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row[data-row="1"] {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.cell[data-column="1"] {
    border-left: 3px solid black;
    border-right: 3px solid black
}

.cell {
    width: 163px;
    height: 163px;
    background-color: white;
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
